[submodule "hearttrack-backend"]
	path = hearttrack-backend
	url = https://github.com/AbhishekSrikanth/hearttrack-backend
[submodule "hearttrack-classifier"]
	path = hearttrack-classifier
	url = https://github.com/AbhishekSrikanth/hearttrack-classifier
[submodule "heart-disease-detection-"]
	path = heart-disease-detection-
	url = https://github.com/rishwariii/heart-disease-detection-.git
